<div class="login-container">
    {{#if isAuthenticated}}
        <a>Welcome, {{user.username}}!</a>
        <a href="/logout">Logout</a>
        <nav class="nav">
            <ul>
                <li><a href="index" class="home">home</a></li>
                <li><a href="all-recipes" class="all-recipes">all recipes</a></li>
                <li><a href="recipe-gallery" class="recipe-gallery">inspiration</a></li>
                <li><a href="table" class="table">some examples</a></li>
                <li><a href="create-recipe" class="create-recipe">create recipe</a></li>
                <li><a href="notes" class="notes">notes</a></li>
            </ul>
        </nav>
    {{else}}
        <nav class="nav">
            <ul>
                <li><a href="index" class="home">home</a></li>
                <li><a href="all-recipes" class="all-recipes">all recipes</a></li>
                <li><a href="recipe-gallery" class="recipe-gallery">inspiration</a></li>
                <li><a href="table" class="table">some examples</a></li>
            </ul>
        </nav>
        <a href="/login">Login</a>
    {{/if}}
</div>