<nav class="nav">
    <ul>
        <li><a href="/public/pages/index.html" class="home">home</a></li>
        <li><a href="/public/pages/all-recipes.html" class="all-recipes">all recipes</a></li>
        <li><a href="/public/pages/recipe-gallery.html" class="recipe-gallery">inspiration</a></li>
        <li><a href="/public/pages/table.html" class="table">some examples</a></li>
        <li><a href="/public/pages/add-recipe.html" class="add-recipe">add recipe</a></li>
        <li><a href="/public/pages/notes.html" class="notes">notes</a></li>
    </ul>
</nav>