<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {{> header}}
    {{> scripts}}
    <link rel="stylesheet" href="/public/recipes-style.css" type="text/css"/>
    <script defer src="/public/scripts/active-page.js"></script>
    <script defer src="/public/scripts/all-recipes.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<main>
    <section>
        <div class="recipes_container">
        </div>
    </section>
</main>
</body>
{{> footer}}
</html>