<!DOCTYPE html>
<html lang="ru">
<head>
    {{> homeHeader}}
    {{> scripts}}
    <meta name="description" content="The best home recipes">
    <meta name="keywords" content="recipes, cooking, food">
    <link rel="stylesheet" href="/public/base-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freehand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Cooking Time</title>
</head>
<body>
<header>
    <h1 style="text-align: center">Cooking Time</h1>
    <div class="container">
        <form autocomplete="off">
            <div class="finder">
                <div class="finder__outer">
                    <div class="finder__inner" id="search">
                        <button id="searchBtn" class="finder__icon"></button>
                        <input class="finder__input" id="searchBox" type="text"
                               placeholder="search what I want today..."/>
                        <div id="suggestions" class="suggestions"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</header>
<main class="index-main">
    <div class="background-image"></div>
    <h3 class="quote"><q>a house is not a home unless it contains food and fire for the mind as well as the body.</q>
    </h3>
    </div>
</main>

{{> footer}}
<script src="/public/scripts/search-script.js"></script>
</body>
</html>