<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    {{> scripts}}
    <link rel="stylesheet" href="/public/base-style.css">
</head>
<body>
<main class="section">
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Название рецепта</th>
                <th>Категория</th>
                <th>Время приготовления</th>
                <th>Сложность</th>
                <th>Ингредиенты</th>
                <th>Инструкции</th>
                <th>Энергетическая ценность</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Пицца с грибами и моцареллой</td>
                <td>Пицца</td>
                <td>30 минут</td>
                <td>Легкий</td>
                <td>Тесто для пиццы, грибы, моцарелла, томатный соус, специи</td>
                <td>Раскатайте тесто, выложите томатный соус, грибы, моцареллу. Запекайте в духовке до готовности.</td>
                <td>250 ккал</td>
            </tr>
            <tr>
                <td>Шоколадный торт</td>
                <td>Десерты</td>
                <td>1 час</td>
                <td>Средний</td>
                <td>Мука, сахар, яйца, масло, какао-порошок, разрыхлитель, молоко</td>
                <td>Смешайте все ингредиенты, выпекайте в духовке до готовности. Украсьте по желанию.</td>
                <td>350 ккал</td>
            </tr>
            <tr>
                <td>Куриный суп с лапшой</td>
                <td>Супы</td>
                <td>45 минут</td>
                <td>Легкий</td>
                <td>Куриный бульон, куриное филе, лапша, морковь, лук, картофель, зелень</td>
                <td>Отварите курицу, добавьте овощи, лапшу. Приправьте по вкусу.</td>
                <td>180 ккал</td>
            </tr>
            <tr>
                <td>Салат Цезарь</td>
                <td>Салаты</td>
                <td>20 минут</td>
                <td>Легкий</td>
                <td>Листья салата, куриное филе, сыр пармезан, сухарики, соус Цезарь</td>
                <td>Смешайте все ингредиенты, полейте соусом Цезарь.</td>
                <td>220 ккал</td>
            </tr>
            <tr>
                <td>Паста с томатным соусом</td>
                <td>Паста</td>
                <td>25 минут</td>
                <td>Легкий</td>
                <td>Паста, томатный соус, чеснок, базилик, сыр пармезан</td>
                <td>Отварите пасту, смешайте с томатным соусом, добавьте чеснок и базилик. Посыпьте сыром.</td>
                <td>300 ккал</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>